BugfixManagement/BugfixManagement.Client.UI/obj/Debug/BugfixManagement.Client.UI.csproj.FileListAbsolute.txt
BugfixManagement/BugfixManagement.Client.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Client.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Client.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Common/obj/Debug/BugfixManagement.Common.csproj.FileListAbsolute.txt
BugfixManagement/BugfixManagement.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Core/obj/Debug/BugfixManagement.Core.csproj.FileListAbsolute.txt
BugfixManagement/BugfixManagement.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Data.Core/obj/Debug/BugfixManagement.Data.Core.csproj.FileListAbsolute.txt
BugfixManagement/BugfixManagement.Data.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Data.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Data.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Entity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Entity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Entity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Entities/obj/Debug/BugfixManagement.Entities.csproj.FileListAbsolute.txt
BugfixManagement/BugfixManagement.Entities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Entities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Entities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BugfixManagement/BugfixManagement.Server.SI/obj/Debug/BugfixManagement.Server.SI.csproj.FileListAbsolute.txt
BugfixManagement/BugfixManagement.Server.SI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BugfixManagement/BugfixManagement.Server.SI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BugfixManagement/BugfixManagement.Server.SI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
